<div class="col-md-8">
  <div class="form-group">
    <label for="product">Product</label>
    <select id="product" class="form-control" ng-model="selectedProduct" ng-options="product.name + ' / &dollar;' + product.price for product in products" ng-change="calculateOrder()"></select>
  </div>
  <div class="form-group">
    <label for="buckets">Number of buckets</label>
    <input id="buckets" class="form-control" type="number" ng-model="buckets" ng-change="calculateOrder()" placeholder="Bag buckets">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="delivered" ng-change="calculateOrder()"> I'd like this delivered as {{order.deliveries}} deliver{{ order.deliveries == 1 ? "y" : "ies"}} for an additional &dollar;{{ order.deliveryCost }}
    </label>
  </div>
</div>

<div order-details="order"></div>
