<div class="col-md-8">
  <div class="form-group">
    <label for="product">Product</label>
    <select id="product" class="form-control" ng-model="selectedProduct" ng-options="product.name + ' / &dollar;' + product.price for product in products" ng-change="valueChanged()"></select>
  </div>
  <div class="form-group">
    <label for="size">Bag Size</label>
    <select id="size" class="form-control" ng-model="selectedBag" ng-options="bag.name for bag in bags" ng-change="valueChanged()"></select>
  </div>
  <div class="form-group">
    <label for="count">Number of bags</label>
    <input id="count" class="form-control" type="number" ng-model="count" ng-change="valueChanged()" placeholder="Width in feet">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="delivered" ng-change="valueChanged()"> I'd like this delivered for an additional &dollar;{{ deliveryFee }}
    </label>
  </div>
</div>

<div class="col-md-4">
  <h2 class="text-center">You need <strong>{{ yards }}</strong> cubic yard{{ yards == 1 ? "" : "s" }} of {{ selectedProduct.name }} or <strong>{{ buckets }}</strong> bucket{{ buckets == 1 ? "" : "s"}}.</h2>
  <h1 class="text-center">Your total cost {{delivered ? "with delivery ": "" }}is<br/> <strong>&dollar;{{ totalCost }}</strong></h1>
  <p class="bg-info text-center" ng-if="buckets > selectedProduct.deliveryLimit && delivered"><i class="fa fa-info-circle"></i> {{ selectedProduct.deliveryLimit }} buckets is our maximum delivery amount for {{ selectedProduct.name }}. Your order would have to be split into {{ deliveries }} deliver{{ deliveries == 1 ? "y" : "ies"}}.</p>
</div>
